---
import Body from '../../layouts/Body.astro'
import Hero from '../../layouts/Hero.astro'
import Footer from '../../layouts/Footer.astro'
---
<Body>
    <Hero>
        <h1>Hello</h1>
    </Hero>
    <Footer />
</Body>