/* https://www.fontsquirrel.com/fonts/sen */

@font-face {
    font-family: 'Sen';
    src: url(fonts/sen4.otf) format('opentype');
}

@font-face {
    font-family: 'Sen';
    src: url(fonts/sen7.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Sen';
    src: url(fonts/sen8.otf) format('opentype');
    font-weight: 800;
}
