---
import { Container } from '../components/Container';
---
<Container className='bg-zinc-900 text-white'>
    <div class='h-2 w-full bg-gradient-to-r from-pink-600 to-fuchsia-600' />
    <div class='py-32 lg:py-48'>
        <slot />
    </div>
</Container>
